@import url('https://fonts.googleapis.com/css?family=Fredoka+One');

html {
  box-sizing: border-box;
}

body {
    background-color: #68829E;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: left bottom; 
    background-image: url('../castlehill.png');
}

textarea:focus, input:focus{
   outline: none;
}
.container-1 div{
  padding: 10px;
}
.container-1 {
  display: flex;
  align-items: center;
  min-height: 24em;
  justify-content: center;
  height: 100%;
}


.box-1 {
  display: flex;
  flex-direction: column;
  background-color: #505160;
  text-align: center;
  border-radius: 25px;
  min-height: 200px;
  align-items: center;
  box-shadow: 10px 10px 50px ;
}

.box-1 input{
  background-color: white;
  color: black;
  margin: 10px;
  padding: 10px;
  border-radius: 25px;
  border-style: solid;
  border-color: white;
  text-align: center;
  text-shadow: 2px, 2px;
  font-family: "Fredoka One", Times, serif;
}

#logotext {
  font-family: "Fredoka One", Times, serif;
  color: white;
  font-size: 4em;
}

#castle {
  width: 130px;
  padding-bottom: 65px;
}



#loginbut {
cursor: pointer;
box-shadow: 2px 2px;
transition: box-shadow 0.2s;
}

#loginbut:active {
box-shadow: 2px 2px;
}
